<div class="tasks">
  {{#each this}}
  <section class="task">
    <div class="text task-text">
      {{task_text}}
    </div>
    <div class="meta task-user">
      {{user.username}} on {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>