<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agile Hub</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-secondary">
  <div class="wrapper">
    <header class="justify-content-center">
      
      <nav class="navbar navbar-light bg-secondary">
        
        <a class="btn-no-style navbar-brand " href="/">Agile Hub</a>
      
        {{#if loggedIn}}
        <a class="btn-no-style navbar-text" href="/dashboard">My Projects</a>
        <button id="logout" class="btn-no-style navbar-text">logout</button>
        {{/if}}
      </nav>
    </header>
    <main class="mainWindow">
      {{{ body }}}
    </main>
    <footer>
      &copy; Made by Abood and Biebz &hearts;
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>