<section class="text-center">
  <h2>Create New Project</h2>

  <form class="new-project-form text-center">
    <div>
      <label for="project-title">Project Name</label>
      <input class="input-holder" type="text" id="project-title" name="project-title" />
    </div>
    <div>
      <label for="customer-name">Customer Name</label>
      <input class="input-holder" id="customer-name" name="customer-name" />
    </div>
    <button type="submit" class="btn btn-primary ">Create</button>
  </form>
</section>

{{#if projects.length}}
<section class="text-center">
  <h2 style="padding-top: 15px; padding-bottom: 15px">Your Projects</h2>
  <ol>
    {{#each projects as |project|}}
    <li>
      {{> project-info project}}
      <a href="/dashboard/edit/{{project.id}}" class="edit-link btn-no-style text-center">Edit project</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-project.js"></script>