* {
  box-sizing: border-box;
}

ol li{
  list-style-type: none;
  color: blue;
}

.login-section {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-forms {
  border: 3px #333 solid;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.login-form {
  border-right: 3px #333 solid;
  width: 50%;
}

.signup-form {
  /* border: 3px blue solid; */
  width: 50%;
}

.input-holder {
  margin: 10px;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: red;
}

.new-project-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form, .signup-form,.formStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #3486eb;
}

.task-body {
  resize: none;
}

.task-user {
  font-size: 12px;
}

.task-text {
  font-size: 20px;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
  resize: horizontal;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.task-body {
  resize: none;
}

.task {
  padding: 1%;
  margin-bottom: 1%;
  background-color: #fff5eb;
}

.customer-name {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.project-title {
  font-size: 25px;
}

.meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}